*{
    box-sizing: border-box;
  }
  

.container{
    border: none;
    border-radius: 6px;
    width: 90%;
    margin: 20px auto;
    /* text-align: center; */
    padding: 2px;
}

.row{
    display: flex;
    /* flex-direction: row; */
    background: rgb(233, 233, 246);
    border-bottom: 1px solid rgb(196, 206, 207);
    padding: 7px;
}

.col{
    width: 70%;
  }

  .col span{
    padding: 6px;

  }

  .blueDot{
    color: blue;
    font-size: 1.1rem;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
  }