.navContainer {
  margin: 8px;
}

.navItem div {
  margin-bottom: 7px;
  padding: 2px;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  height: 5vh;
}
.navItem a {
  text-decoration: none;
  color: white;
}
