.navContainer {
  margin: 8px;
}

.navItem div {
  margin: 6px;
  padding: 2px;
  font-size: 1.1rem;
  font-weight: bold;
}
.navItem a {
  text-decoration: none;
  color: white;
}

.row {
  background: rgb(93, 93, 249);
  border: none;
  border-radius: 10px;
}
