.authForm {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
  margin: 70px auto;
  padding: 6px;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 3px 20px 1px rgb(243, 200, 200);
}

.authForm h2 {
  color: Brown;
  font-size: 1.9rem;
}

.formstart {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.formstart input {
  width: 90%;
  margin: 6px auto;
  border: none;
  border-radius: 6px;
  background: rgb(243, 200, 200);
  height: 6vh;
  font-size: 0.9rem;
  padding: 4px;
}

.formstart input:focus{
  outline: 2px solid brown;
}
.btn {
  width: 40%;
  margin: 16px auto;
  border: none;
  border-radius: 6px;
  background: rgb(47, 68, 207);
  height: 6vh;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.switchBtn {
  width: 70%;
  border: none;
  background: none;
  color: red;
  margin: 3px auto;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .authForm h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 480px) {
  .authForm h2 {
    font-size: 1.4em;
  }
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.inputContainer button {
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translate(-50%);
  border: none;
  background: none;
  font-size: 1.2rem;
}
